dist
distForNoAdditional
node_modules
routes.ts
customRoutes.ts
**/custom-route-generator/routes/*
.idea/
*.swp
yarn-error.log
tsconfig.tsbuildinfo
.typedoc
packages/runtime/deno_dist/
tests/fixtures/hono/routesNoAdditional.ts
